*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: "Open Sans", sans-serif; 
}
.profile{
    position: relative;
    width: 60px;
    margin: 0 1em;
    height: 60px;
    border-radius: 50%;
    background: url(assets/8.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    box-shadow: 0 0 0 4px #fff, 0 0 0 5px #246df5;
    transition: 0.2s;
}
.profile:hover{
    box-shadow: 0 0 0 4px #fff, 0 0 0 5px #d10fd8;
}
.content{
    bottom: 75px;
    min-width: 400px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: 0.5s;
}
.content .header img{
    grid-column: 1/2;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
.content .header .infos .name{
    color: #333;
}
.content .header .infos .title{
    color: #969696;
}
.content .body p{
    color: #272727;
}
.profile:hover .content{
    visibility: visible;
    opacity: 1;
    transform: translateX(-15%) translateY(0px);
}